bin/
obj/
Debug/
Release/
x64/
x86/
build/
*.dll
*.exe
*.pdb
*.appx
*.appxbundle
*.msi
*.msix
*.msixbundle

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
.vscode/
*.VC.db
*.VC.opendb

.idea/

*.pidb
*.userprefs

wwwroot/node_modules/
appsettings.*.json
secrets.json

*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

*.log

_ReSharper*/
*.DotSettings.user

*.dbmdl
*.bak
*.backup
*.swp
*.tmp
*.temp

publish/
